# Dependências
node_modules/

# Variáveis de ambiente locais
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Vercel
.vercel

# Sistema Operacional
.DS_Store
Thumbs.db
